@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .Navbar-btn {
        position: relative;
        text-align: center;
        width: 80px;
        transition: 0.5s;
        padding: 8px 0;
    }
    .Navbar-btn::first-letter {
        text-transform: uppercase;
    }
    .Navbar-btn::after,
    .Navbar-btn::before {
        content: '';
        width: 0%;
        position: absolute;
        bottom: 0%;
        height: 2px;
        transition: 0.5s;
        box-shadow: 0 10px 15px -3px #ffffff4f, 0 4px 6px -2px #dceaff17;
    }
    .Navbar-btn:hover::after {
        width: 50%;
    }
    .Navbar-btn:hover::before {
        width: 50%;
    }
    .Navbar-btn::after {
        left: 0%;
    }
    .Navbar-btn::before {
        right: 0%;
    }
}